<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.gesturestestapp"
        android:versionCode="1"
        android:versionName="1"
        >

    <original-package android:name="com.android.gesturestestapp" />

    <uses-permission android:name="android.permission.GESTURES" />
    <uses-feature android:name="android.hardware.gestures" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".GesturesTest"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>        
    </application>    
</manifest>

